<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
/>
<body>
  <section class="header">
    <nav>
      <a href="app.component.html"><img src="" alt="" /></a>
      <div class="nav-links" id="navLinks">
        <i class="fa fa-times" onclick="hideMenu()"></i>
        <ul>
          <li><a href="">HOME</a></li>
          <li><a href="">NEWS</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">SIGN UP</a></li>
          <li><a href="">CONTACT</a></li>
        </ul>
      </div>
      <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <div class="text-box">
      <h1>Welcome To SportsPulse</h1>
      <p>
        Welcome to SportsPulse, the premier sports news website that keeps you
        in the game! Whether you’re a die-hard fan, a casual follower, or a
        curious newcomer, we have everything you need to stay informed and
        engaged with the world of sports.
      </p>
      <a href="" class="hero-btn">Visit Us Here To Learn More</a>
    </div>
  </section>
  <!-----Shop------>
  <section class="shop">
    <h1>What's New</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
      distinctio eaque ipsam ad quis illo dolores totam sunt nisi amet sapiente
      hic, nostrum nam eos quibusdam, vero ducimus veniam dolore!
    </p>

    <div class="row">
      <div class="shop-col">
        <h3>Football</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          reiciendis dignissimos quod. Architecto, saepe sed. Rem, neque itaque
          quam corporis maiores, dolorum in consequatur adipisci hic eaque, quos
          fugit aut!
        </p>
      </div>
      <div class="shop-col">
        <h3>Basketball</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          reiciendis dignissimos quod. Architecto, saepe sed. Rem, neque itaque
          quam corporis maiores, dolorum in consequatur adipisci hic eaque, quos
          fugit aut!
        </p>
      </div>
      <div class="shop-col">
        <h3>Baseball</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          reiciendis dignissimos quod. Architecto, saepe sed. Rem, neque itaque
          quam corporis maiores, dolorum in consequatur adipisci hic eaque, quos
          fugit aut!
        </p>
      </div>
    </div>
  </section>
  <!----Campus-->
  <section class="campus">
    <h1>Recent Events</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

    <div class="row">
      <div class="campus-col">
        <img src="../assets/images/rob2.jpg" alt="" />
        <div class="layer">
          <h3>NBA DRAFT</h3>
        </div>
      </div>
      <div class="campus-col">
        <img src="../assets/images/caitlin2.jpg" alt="" />
        <div class="layer">
          <h3>WNBA</h3>
        </div>
      </div>
      <div class="campus-col">
        <img src="../assets/images/shohei.jpeg" alt="" />
        <div class="layer">
          <h3>BASEBALL</h3>
        </div>
      </div>
    </div>
  </section>

  <!--Facilities-->
  <section class="hottakes">
    <h1>Hot Takes</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
      quia fugiat! Molestiae laborum omnis minus sequi vel maiores ab. Velit
      assumenda voluptates explicabo nulla qui earum vitae rerum, deserunt
      debitis.
    </p>

    <div class="row">
      <div class="hottakes-col">
        <img src="../assets/images/bronny4.jpeg" alt="" />
        <h3>Is Bronny worth the pick?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="hottakes-col">
        <img src="../assets/images/wnba.jpg" alt="" />
        <h3>Reese or Clark for ROY?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="hottakes-col">
        <img src="../assets/images/jt.webp" alt="" />
        <h3>Tatum signs for $315 million!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </section>

  <!----Editor's Picks-->
  <section class="editors">
    <h1>Analyst Notes</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    <div class="row">
      <div class="editors-col">
        <img src="../assets/images/user1.jpg" alt="" />
        <div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Dignissimos laboriosam molestiae iste exercitationem blanditiis
            dolores quis earum nisi dicta tempora.
          </p>
          <h3>Patrick Bateman</h3>
        </div>
      </div>
      <div class="editors-col">
        <img src="../assets/images/user2.jpg" alt="" />
        <div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Dignissimos laboriosam molestiae iste exercitationem blanditiis
            dolores quis earum nisi dicta tempora.
          </p>
          <h3>Sarah Banks</h3>
        </div>
      </div>
    </div>
  </section>

  <!---Subscribe-->
  <section class="account">
    <h1>Wanna Get The Lastest Updates?<br />Create An Account Here</h1>
    <a href="" class="hero-btn">SIGN UP</a>
  </section>

  <!---JavaScript for Toggle Menu-->
  <script>
    const navLinks = document.getElementById("navLinks");

    function showMenu() {
      navLinks.style.right = "0";
    }
    function hideMenu() {
      navLinks.style.right = "-200px";
    }
  </script>
</body>
